.btn-lg {
    width: 50%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

.configCards{
  display: flex;
}

.monitCards{
  display: flex;
}

.bg-light {
  flex: 1;
  margin: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li {
  margin-right: 15px;
}

h2 {
  text-align:center;
  font-family: 'Poppins',sans-serif;
}

h4 {
  text-align:center;
  font-family: 'Poppins',sans-serif;
}
